name: Update Plugin Index

on:
  push:
    paths:
      - 'Plugin/*.lpx'              
      - 'scripts/generate_json.py'  
  workflow_dispatch:                

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'

      - name: Run generation script
        run: |
          python scripts/generate_json.py

      - name: Commit and Push changes
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "Auto-Update plugins.json"
          file_pattern: Plugin/plugins.json
          branch: ${{ github.ref }}