name: Update Plugin Index

on:
  push:
    paths:
      - 'Plugin/**.lpx'
      - '.github/scripts/generate_json.py'
      - '.github/workflows/UpdatePluginIndex.yml'
  
  # 允许手动触发
  workflow_dispatch:

permissions:
  contents: write

jobs:
  update-json:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'

      - name: Run generation script
        run: |
          python .github/scripts/generate_json.py

      - name: Commit and Push changes
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "Auto-update plugins.json [skip ci]"
          
          # 仅提交生成的 json 文件，不提交其他可能被修改的文件
          file_pattern: Plugin/plugins.json
          
          branch: ${{ github.ref }}
